<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/advantages.css" />
  </head>
  <body>
    <main>
      <section class="advantages">
        <h2 class="visually-hidden">Abvantages</h2>
        <div class="advantage-container container">
          <div class="advantages-box">
            <ol class="ordered-advantages-list">
              <li class="advantages-list-item">
                <h3 class="advantages-list-titel">01</h3>
                <p class="advantages-list-paragraph">
                  Swimming and water sports: try your hand <br class="break" />
                  at water skiing
                </p>
              </li>
              <li class="advantages-list-item">
                <h3 class="advantages-list-titel">02</h3>
                <p class="advantages-list-paragraph">
                  Fishing: try to catch your own dinner
                </p>
              </li>
              <li class="advantages-list-item">
                <h3 class="advantages-list-titel">03</h3>
                <p class="advantages-list-paragraph">
                  Sightseeing tours: take a shore or island tour, enjoy
                  <br class="break" />
                  the views and sunsets from the water
                </p>
              </li>
              <li class="advantages-list-item">
                <h3 class="advantages-list-titel">04</h3>
                <p class="advantages-list-paragraph">
                  Rest and relaxation: read a book or listen to music
                  <br class="break" />
                  while enjoying the outdoor atmosphere.
                </p>
              </li>
            </ol>
          </div>
          <div class="advantages-block-img">
            <picture>
              <source
                srcset="../img/img-advantages/img-advantage-1x-phone.jpg 1x"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ../img/img-advantages/img-advantage-1x-tablet.jpg 1x,
                  ../img/img-advantages/img-advantage-2x-tablet.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../img/img-advantages/img-advantage-1x-laptop.jpg 1x,
                  ../img/img-advantages/img-advantage-2x-laptop.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <img
                class="advantages-img"
                src="/img/img-advantages/img-advantage-1x-tablet.jpg"
              />
            </picture>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
