   <footer class="footer">
      <div class="footer-container ">
        <div class="footer-nav ">
          <a href="./index.html"  class="footer-logo">yachtjet</a>
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#about" class="footer-nav-link">about</a>
            </li>
            <li class="footer-nav-item">
              <a href="#yachts" class="footer-nav-link">Yachts</a>
            </li>
            <li class="footer-nav-item">
              <a href="#reviews" class="footer-nav-link">Reviews</a>
            </li>
          </ul>
          <div class="footer-soc-list-cont"><ul class="footer-soc-list">
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.instagram.com/"
                target="_blank"
                ><svg class="footer-soc-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-instagram-f"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.youtube.com/"
                target="_blank"
                ><svg class="footer-soc-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-youtube-f"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.facebook.com/"
                target="_blank"
                ><svg class="footer-soc-icon" width="24" height="24">
                  <use href="./img/symbol-defs.svg#icon-foaceboke-f"></use>
                </svg>
              </a>
            </li>
          </ul></div>
          
        </div>
    
        <div class="footer-content">
          <h3 class="footer-title" style="margin-top: 0px; margin-bottom: 0px">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable.
          </h3>
        </div>
        <div class="footer-copyright-cont">
          <ul class="footer-copyright-list">
            <li class="footer-copyright"><a href="">
          2023. Yacht Adventures</a></li>
            <li class="footer-copyright"><a href="">Privacy Police</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
