<header class="page-header">
  <div class="container header-container">
    <nav class="menu">
      <a class="logo" href="./index.html">yachtjet</a>

      <ul class="menu-item">
        <li class="link_li">
          <a class="link" href="#about">About</a>
        </li>
        <li class="link_li">
          <a class="link" href="#yachts">Yachts</a>
        </li>
        <li class="link_li">
          <a class="link" href="#reviews">Reviews</a>
        </li>
      </ul>

      <address class="contacts-menu">
        <ul class="linkssocial">
          <li class="itemlink">
            <a href="https://www.instagram.com/goitclub/" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="itemlink">
            <a href="https://www.youtube.com/c/GoIT" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="itemlink">
            <a href="https://www.facebook.com/goITclub/" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>

      <button type="button" class="menu-open-btn">
        <svg width="28" height="28" class="svgiconheader">
          <use href="./img/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <address class="contacts-menu-mob">

  </address>
  </div>
  <div class="mob-menu is-open">
    <div>
      <div class="menu-mob">
        <a class="logo-mob" target="_blank" href="./index.html">yachtjet</a>
        <button type="button" class="menu-close-btn-mob">
          <svg width="16" height="16" class="modal-icon-close">
            <use href="img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <nav>
        <ul class="menu-item-mob">
          <li class="link_li-mob">
            <a class="link-mob" href="./index.html">About</a>
          </li>
          <li class="link_li-mob">
            <a class="link-mob" href="">Yachts</a>
          </li>
          <li class="link_li-mob">
            <a class="link-mob" href="">Reviews</a>
          </li>
        </ul>
      </nav>

    </div>
    <ul class="linkssocial-mob">
      <li class="itemlink-mob">
        <a href="https://www.instagram.com/goitclub/" class="linksociallink-mob" target="_blank">
          <svg width="24" height="24" class="svgicon-mob">
            <use href="./img/symbol-defs.svg#icon-inst"></use>
          </svg>
        </a>
      </li>
      <li class="itemlink-mob">
        <a href="https://www.youtube.com/c/GoIT" class="linksociallink-mob" target="_blank">
          <svg width="24" height="24" class="svgicon-mob">
            <use href="./img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="itemlink-mob">
        <a href="https://www.facebook.com/goITclub/" class="linksociallink-mob" target="_blank">
          <svg width="24" height="24" class="svgicon-mob">
            <use href="./img/symbol-defs.svg#icon-fb"></use>
          </svg>
        </a>
      </li>
    </ul>
</header>