<header class="page-header">
  <div class="container header-container">
    <nav class="menu">
      <a class="logo" href="./index.html">yachtjet</a>

      <ul class="menu-item">
        <li class="link_li">
          <a class="link" href="#about">About</a>
        </li>
        <li class="link_li">
          <a class="link" href="#yachts">Yachts</a>
        </li>
        <li class="link_li">
          <a class="link" href="#reviews">Reviews</a>
        </li>
      </ul>

      <address class="contacts-menu">
        <ul class="linkssocial">
          <li class="itemlink">
            <a href="https://www.instagram.com/goitclub/" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="itemlink">
            <a href="https://www.youtube.com/c/GoIT" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="itemlink">
            <a href="https://www.facebook.com/goITclub/" class="linksociallink" target="_blank">
              <svg width="24" height="24" class="svgicon">
                <use href="./img/symbol-defs.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>

      <button type="button" class="menu-open-btn">
        <svg width="28" height="28" class="svgiconheader">
          <use href="./img/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <address class="contacts-menu-mob">

  </address>
  </div>
</header>