<section class="rent" id="rent">
        <div class="rent-container container">
            <img class="rent-img" src="" alt="" />
            <form class="rent-form">
                <h2 class="rent-title">Rent a yacht now</h2>
                <div class="rent-field">
                    <label class="rent-label-name" for="name">Full Name</label>
                    <input class="rent-input-name" type="text" id="name" />
                </div>
                <div class="rent-field">
                    <label class="rent-label-name" for="email">Email</label>
                    <input class="rent-input-name" type="text" id="email" />
                </div>
                <div class="rent-field">
                    <label class="rent-label-name" for="phone">Phone number</label>
                    <input class="rent-input-name" type="text" id="phone" />
                </div>
                <div class="rent-field">
                    <textarea class="rent-textarea" type="text" id="name">Comment</textarea>
                </div>
                <button class="rent-btn">Send</button>
            </form>
        </div>
    </section>