<section class="our_yachts" id="yachts">
    <div class="container">
        <h2 class="head_of_sections">
            Choose your dream yacht and sail away into the sunset
        </h2>
        <ul class="list_card">
            <li class="item_list_card">
                <picture>
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht1-mob-x1.jpg 1x, /img/img-our-yacht/yacht1-mob-x2.jpg 2x"
                        media="(max-width: 767px)" />
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht1-tab-x1.jpg 1x, /img/img-our-yacht/yacht1-tab-x2.jpg 2x"
                        media="(max-width: 1279px)" />
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht1-desk-x1.jpg 1x, /img/img-our-yacht/yacht1-desk-x2.jpg 2x"
                        media="(max-width: 1439px)" />
                    
                    <img class="foto" src="/img/img-our-yacht/yacht1-desk-x1.jpg" alt="LUXURY YAHT Arrow" width="360"
                        height="268" />
                </picture>
                <ul class="heads_item_list_card">
                    <li>
                        <h3 class="name_yacht">Arrow</h3>
                    </li>
                    <li>
                        <h3 class="class_yacht">LUXURY YAHTS</h3>
                    </li>
                </ul>
                <div class="paragraph_item_list_card">
                    <ul class="left_paragraph_item">
                        <li>
                            <p>LENGTH</p>
                        </li>
                        <li>
                            <p>BUILDER</p>
                        </li>
                        <li>
                            <p>BUILT</p>
                        </li>
                        <li>
                            <P>GUESTS</P>
                        </li>
                        <li>
                            <p>PRICE</p>
                        </li>
                    </ul>
                    <ul class="right_paragraph_item">
                        <li>
                            <p>48m(155ft)</p>
                        </li>
                        <li>
                            <p>Admiral</p>
                        </li>
                        <li>
                            <p>2021</p>
                        </li>
                        <li>
                            <p>11 in 5 cabins</p>
                        </li>
                        <li>
                            <p>€33,500,000</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item_list_card">
                <picture>
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht2-tab-x1.jpg 1x, /img/img-our-yacht/yacht2-tab-x2.jpg 2x"
                        media="(max-width: 1279px)" />
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht2-desk-x1.jpg 1x, /img/img-our-yacht/yacht2-desk-x2.jpg 2x"
                        media="(max-width: 1439px)" />
                    
                    <img class="foto" src="/img/img-our-yacht/yacht2-desk-x1.jpg"
                        alt="LUXURY YAHT BENETTI OASIS 40M BO122" width="360" height="268" />
                </picture>
                <ul class="heads_item_list_card">
                    <li>
                        <h3 class="name_yacht">BENETTI OASIS 40M BO122</h3>
                    </li>
                    <li>
                        <h3 class="class_yacht">LUXURY YAHTS</h3>
                    </li>
                </ul>
                <div class="paragraph_item_list_card">
                    <ul class="left_paragraph_item">
                        <li>
                            <p>LENGTH</p>
                        </li>
                        <li>
                            <p>SHIPYARD</p>
                        </li>
                        <li>
                            <p>BUILT</p>
                        </li>
                        <li>
                            <P>GUESTS</P>
                        </li>
                        <li>
                            <p>PRICE</p>
                        </li>
                    </ul>
                    <ul class="right_paragraph_item">
                        <li>
                            <p>41m (133ft)</p>
                        </li>
                        <li>
                            <p>Benetti</p>
                        </li>
                        <li>
                            <p>2025</p>
                        </li>
                        <li>
                            <p>10 in 5 cabins</p>
                        </li>
                        <li>
                            <p>€23,210,000</p>
                        </li>
                    </ul>
                </div>

            </li>
            <li class="item_list_card">
                <picture>
                    <source class="foto"
                        srcset="/img/img-our-yacht/yacht3-desk-x1.jpg 1x, /img/img-our-yacht/yacht3-desk-x2.jpg 2x"
                        media="(max-width: 1439px)" />
                    
                    <img class="foto" src="/img/img-our-yacht/yacht3-desk-x1.jpg" alt="LUXURY YAHT BELLE ANNA"
                        width="360" height="268" />
                </picture>
                <ul class="heads_item_list_card">
                    <li>
                        <h3 class="name_yacht">BELLE ANNA</h3>
                    </li>
                    <li>
                        <h3 class="class_yacht">LUXURY YAHTS</h3>
                    </li>
                </ul>
                <div class="paragraph_item_list_card">
                    <ul class="left_paragraph_item">
                        <li>
                            <p>LENGTH</p>
                        </li>
                        <li>
                            <p>SHIPYARD</p>
                        </li>
                        <li>
                            <p>BUILT</p>
                        </li>
                        <li>
                            <P>GUESTS</P>
                        </li>
                        <li>
                            <p>PRICE</p>
                        </li>
                    </ul>
                    <ul class="right_paragraph_item">
                        <li>
                            <p>50m(155ft)</p>
                        </li>
                        <li>
                            <p>ISA</p>
                        </li>
                        <li>
                            <p>2012</p>
                        </li>
                        <li>
                            <p>12 in 6 cabins</p>
                        </li>
                        <li>
                            <p>€21,000,000</p>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
        <div class="block-button">

            <a class="button_our_yachts" href="#rent">Yacht rental</a>
        </div>
    </div>

</section>