<div class="container">
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++OUR_YACHTS+++++++++++++++++++++++++++++++++++++++++++ -->
    <h2 class="head_of_sections">
        Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="list_card">
        <li class="item_list_card">
            <picture>
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht1-mob-x1.jpg 1x, ../img/img-our-yacht/yacht1-mob-x2.jpg 2x"
                    media="(max-width: 767px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht1-tab-x1.jpg 1x, ../img/img-our-yacht/yacht1-tab-x2.jpg 2x"
                    media="(max-width: 1279px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht1-desk-x1.jpg 1x, ../img/img-our-yacht/yacht1-desk-x2.jpg 2x"
                    media="(max-width: 1439px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht1-desk2-x1.jpg 1x, ../img/img-our-yacht/yacht1-desk2-x2.jpg 2x"
                    media="(min-width: 1440px)" />
                <img class="foto" src="../img/img-our-yacht/yacht1-desk2-x1.jpg" alt="LUXURY YAHT Arrow" width="360"
                    height="268" />
            </picture>
            <div class="heads_item_list_card">
                <h3>Arrow</h3>
                <h3>LUXURY YAHTS</h3>
            </div>
            <div class="paragraph_item_list_card">
                <div class="left_paragraph_item">
                    <p>LENGTH</p>
                    <p>BUILDER</p>
                    <p>BUILT</p>
                    <P>GUESTS</P>
                    <p>PRICE</p>
                </div>
                <div class="right_paragraph_item">
                    <p>48m(155ft)</p>
                    <p>Admiral</p>
                    <p>2021</p>
                    <p>11 in 5 cabins</p>
                    <p>€33,500,000</p>
                </div>
            </div>
        </li>
        <li class="item_list_card">
            <picture>
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht2-tab-x1.jpg 1x, ../img/img-our-yacht/yacht2-tab-x2.jpg 2x"
                    media="(max-width: 1279px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht2-desk-x1.jpg 1x, ../img/img-our-yacht/yacht2-desk-x2.jpg 2x"
                    media="(max-width: 1439px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht2-desk2-x1.jpg 1x, ../img/img-our-yacht/yacht2-desk2-x2.jpg 2x"
                    media="(min-width: 1440px)" />
                <img class="foto" src="../img/img-our-yacht/yacht2-desk2-x1.jpg"
                    alt="LUXURY YAHT BENETTI OASIS 40M BO122" width="360" height="268" />
            </picture>
            <div class="heads_item_list_card">
                <h3>BENETTI OASIS 40M BO122</h3>
                <h3>LUXURY YAHTS</h3>
            </div>
            <div class="paragraph_item_list_card">
                <div class="left_paragraph_item">
                    <p>LENGTH</p>
                    <p>SHIPYARD</p>
                    <p>BUILT</p>
                    <P>GUESTS</P>
                    <p>PRICE</p>
                </div>
                <div class="right_paragraph_item">
                    <p>41m (133ft)</p>
                    <p>Benetti</p>
                    <p>2025</p>
                    <p>10 in 5 cabins</p>
                    <p>€23,210,000</p>
                </div>
            </div>

        </li>
        <li class="item_list_card">
            <picture>
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht3-desk-x1.jpg 1x, ../img/img-our-yacht/yacht3-desk-x2.jpg 2x"
                    media="(max-width: 1439px)" />
                <source class="foto"
                    srcset="../img/img-our-yacht/yacht3-desk-x1.jpg 1x, ../img/img-our-yacht/yacht3-desk-x2.jpg 2x"
                    media="(min-width: 1440px)" />
                <img class="foto" src="../img/img-our-yacht/yacht3-desk2-x1.jpg" alt="LUXURY YAHT Arrow" width="360"
                    height="268" />
            </picture>
            <div class="heads_item_list_card">
                <h3>BELLE ANNA</h3>
                <h3>LUXURY YAHTS</h3>
            </div>
            <div class="paragraph_item_list_card">
                <div class="left_paragraph_item">
                    <p>LENGTH</p>
                    <p>SHIPYARD</p>
                    <p>BUILT</p>
                    <P>GUESTS</P>
                    <p>PRICE</p>
                </div>
                <div class="right_paragraph_item">
                    <p>50m(155ft)</p>
                    <p>ISA</p>
                    <p>2012</p>
                    <p>12 in 6 cabins</p>
                    <p>€21,000,000</p>
                </div>
            </div>
        </li>

    </ul>
    <div class="block-button"><button class="button_our_yachts" type="button">Yacht rental</button></div>
</div>