.about {
    padding-bottom: 75px;
}

.container {
    padding: 0;
}

.about-box {
    width: 335px;
    height: 675px;
    border-radius: 24px;
    background-color: #fbfbfb;
    /* padding: 40px 20px 0px 20px; */
    padding-bottom: 80px;

}

.about-title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1b414b;
    padding: 40px 20px 0px 20px;
}

.about-subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #1b414b;
    padding: 40px 20px 0px 20px;
}

.about-sub {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
    color: #040306;
    padding: 20px 20px 0px 20px;
}

.img-about {
    width: 335px;
    height: 395px;
    border-radius: 54px;
    margin-top: 40px;
}

@media (min-width: 768px) {

    .container {
        max-width: 768px;
    }

    .about-title {

        font-size: 48px;
        padding: 50px 136px 50px 32px;
    }

    .about-subtitle {
        font-size: 23px;
        padding: 0px 283px 0px 32px;
    }

    .about-sub {
        font-size: 13px;
        line-height: 1.15;
        padding: 20px 287px 0px 32px;

    }

    .about-box {
        width: 704px;
        height: 675px;
        padding-bottom: 75px;
    }

    .img-about {
        width: 768px;
        height: 470px;
    }
}

@media (min-width: 1280px) {

    .container {
        max-width: 1280px;
    }

    .about-title {
        width: 537px;
        padding: 0;
    }

    .about-box {
        width: 1180px;
        height: 675px;

    }

    .about-subtitle {
        padding: 0;
    }

    .about-sub {
        padding: 0;
        padding-top: 20px;
    }

    .about-text {
        display: flex;
        padding: 50px 50px 100px 50px;
        gap: 189px;
    }

    .text {
        width: 354px;
        /* margin-left: 189px; */
    }

    .img-about {
        width: 1180px;
        height: 470px;
        border-radius: 54px;
        padding: 0;
    }

    .picture {
        display: block;
    }
}