/* ++++++++++++OUR_YACHTS++++++++++ */

.head_of_sections {
  padding: 40px 0;
  color: rgb(251, 251, 251);
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
  width: 319px;
}
.list_card {
  display: flex;
  justify-content: center;
}
.item_list_card {
  max-width: 334px;
  padding: 16px;
  background-color: rgb(251, 251, 251);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.foto {
  border-radius: 24px;
}
.heads_item_list_card {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 16px;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
  align-items: center;
}
.name_yacht {
  color: #1b414b;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 157px;
  height: 19px;
}
.class_yacht {
  color: #040306;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.4;
}
.paragraph_item_list_card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 16px;
  color: rgb(4, 3, 6);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: left;
}
.left_paragraph_item {
  text-transform: uppercase;
  opacity: 0.4;
}
.left_paragraph_item p,
.right_paragraph_item p {
  margin: 0 0 6px 0;
}
.item_list_card:nth-child(2),
.item_list_card:nth-child(3) {
  display: none;
}
.block-button {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.button_our_yachts {
  padding: 14px 32px 14px 32px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  background-color: transparent;
  color: rgb(251, 251, 251);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: left;
}
.button_our_yachts:hover {
  background-color: rgb(251, 251, 251);
  color: rgb(27, 65, 75);
}

@media (min-width: 768px) {
  .item_list_card:nth-child(2) {
    display: flex;
  }
  .head_of_sections {
    padding: 75px 0;
    font-size: 48px;
    width: 645px;
  }
  .list_card {
    gap: 32px;
  }
  .item_list_card {
    max-width: 336px;
  }
  .block-button {
    padding: 50px 0 75px 0;
  }
  .name_yacht {
    font-size: 16px;
    line-height: 1.2;
  }
  .class_yacht {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.18;
  }
}
@media (min-width: 1280px) {
  .item_list_card:nth-child(3) {
    display: flex;
  }
  .head_of_sections {
    width: 714px;
  }
  .list_card {
    gap: 25px;
  }
  .item_list_card {
    max-width: 377px;
  }
}
@media (min-width: 1280px) {
  .list_card {
    gap: 32px;
  }
  .item_list_card {
    max-width: 396px;
  }
}
